body {
  padding: 0;
  margin: 0;
  background-color: rgb(197, 198, 209) !important;
  scroll-behavior: "smooth";
}

section {
  padding-top: 5rem;
}

.carousel #carouselExampleCaptions {
  border: 2px solid rgba(62, 70, 82, 0.329);
}

.navbar-brand img {
  border-image: 1px solid black;
}
